@charset "utf-8";
/* CSS Document */

/*#accordion{width: 400px; height: 100%; background: #FFF; position: absolute; top: 0px; right: -400px; z-index: 999999;}
#accordion h3{width: 100%; height: 40px; line-height: 40px; text-indent: 20px; border-bottom: 2px solid #777;}
#accordion h3 a{display: block; color: #666; }
#accordion h3 a:hover{color: #000; }

#accordion > div{width: 100%; }
#accordion > div > ul{width: 100%; height: 100%; }
#accordion div ul li{height: 40px; line-height: 40px; border-bottom: 1px solid #777; text-indent: 40px; }
#accordion div ul li a{display: block;}*/